.map{
  display: flex;
  .map-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 700px;
    height: 400px;
    margin: 0 20px;
  
  }
  .map-frame {
    margin-top: 20px;
    border: 2px solid black;
    height: 100%;
  }
  .marker-settings{
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px dotted black;
    &:nth-child(1n){
      max-width: 200px;
    }
  }
}
  
  #map {
    height: 100%;
  }